.App {
  text-align: center;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #faf9f6;
  padding-bottom: 15px;
  font-family: Helvetica, sans-serif;
}

.button {
  color: black;
  background-color: #e3f2fd;
  border-color: #e3f2fd;
}

.theaterCard {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
}

.movieCard {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.movieLink {
  color: gray;
  text-decoration: none;
}

.navbar {
  width: 100%;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
}

.navbar > .menuLink,
.menuLink {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  color: black;
}

.loginImgContainer,
.homeImgContainer {
  display: flex;
  flex-direction: row;
}

.loginImgContainer > .menuLink {
  margin-left: 0px;
}

.homeImgContainer > .menuLink {
  margin-right: -15px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 990px;
}

.cardContainer > div {
  width: 470px;
  height: auto;
}

.reviewContainer {
  display: flex;
}

.reviewContainer > div {
  padding: 10px;
}

.adminFeatures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.adminFeatures > div {
  margin-left: 30px;
  margin-right: 30px;
  width: 30%;
}
